*,*::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins","Arial",sans-serif;
  font-style: normal;
  ul,ol {
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4,h5,h6,p,ol,ul,li,a {
    margin: 0;
    padding: 0;
  }
}

img {
  vertical-align: middle;
  object-fit: cover;
}