.header {
  margin-top: 20px;
}

.header__inner {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 237px;
}

.navbar__list {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.navbar__item:nth-child(1) > .navbar__link {
  color: #02897A;
}

.navbar__item:nth-child(5) > .navbar__link {
  width: 100%;
  padding: 10px 22px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  color: #22343D;
  &:hover {
    color: #ffffff;
    background-color: #02897A;
  }
}

.navbar__item:nth-child(6) > .navbar__link {
  width: 100%;
  padding: 10px 22px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  color: #22343D;
  &:hover {
    color: #ffffff;
    background-color: #02897A;
  }
}

.navbar__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: #22343D;
}

.pricing__link {
  color: #02897A;
}

.customers__link {
  color: #02897A;
}

.pricing__link1 {
  color: #22343D !important;
}

.pricing__link1:hover {
  color: #02897A !important;
}

.navbar__link:hover {
  color: #02897A;
}

.header__dark-link {
  margin-left: 24px;
  padding: 2.5px 0;
  text-align: center;
  text-decoration: none;
}

.header__btn-box {
  display: none;
  width: 100%;
}

.header__btn {
  display: none;
  font-size: 32px;
  color: #173A56;
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 520px) {
  .navbar {
    display: none;
  }

  .header__dark-link {
    display: none;
  }

  .header__btn-box {
    display: block;
  }

  .header__btn {
    display: block;
    margin-left: auto;
  }
}