.join {
  background-color: #F5F5F5;
}

.join__inner {
  width: 723px;
  margin: 0 auto;
}

.join__title {
  padding-top: 35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
}

.join__list {
  margin-top: 93px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.join__item {
  position: relative;
  width: 248px;
  padding-top: 177px ;
  text-align: center;
  list-style-type: none;
}

.join__item::before {
  position: absolute;
  top: 0;
  left: 50px;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url("../images/join-icon1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.join__item:nth-child(2)::before {
  background-image: url("../images/join-icon2.svg");
}


.join__item-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.join__item-text {
  width: 214px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #22343D;
}

.join__item-span {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

@media only screen and (max-width: 520px) {
  .join__inner {
    max-width: 520px;
    width: 100%;
  }

  .join__list {
    margin-top: 93px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
}