
.pricing-hero__inner {
  margin-top: 50px;
}

.pricing-hero__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #22343D;
}

.pricing-hero__text {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #22343D;
}

.pricing-hero__span {
  display: block;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #22343D;
}
